*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container{
    width:100vw;
    height:100vh;
    background-color: #fcf5eb;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding:20px 40px;
    position: sticky;
    top:0;
    background-color: #fdf3e9;
    z-index: 30;
}
.feautres{
    position:relative;
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}

.feautres::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left:5%;
    bottom: 0%;
    background-color: #25d366;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
    transform-origin: left;
}
.feautres:hover::after{
    transform: scaleX(1);
}

.slide{
    position: relative;
}

.slide::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left:2%;
    bottom: 0%;
    background-color: #25d366;
    transform: scaleX(0);
    transition: all 0.5s ease-out;
    transform-origin:left;

}

.slide:hover::after{
    transform: scaleX(1);
}


.feautres>img{
        transform: rotate(-90deg);
}
.learnmore>img{
    transform:rotate(-180deg);
}
.navbar>img{
    width:125px;
}
.navitems{
    display: flex;
    gap:40px;
}
.btns{
    display:flex;
    gap:18px;
    position:relative;
}
.btn{
    border-radius: 35px;
    display: flex;
    gap:20px;
    height:55px;
    width:160px;
    background-color: rgb(67, 226, 67);
    border-color: 1px solid black;
}

.btn2{
    border-radius: 35px;
    display: flex;
    gap:20px;
    height:55px;
    width:120px;
    background-color: rgb(250,250,250);
    border-color: 1px solid black;
}
.btn>p{
    padding-top: 16px;
    font-size: 16px;
    padding-left: 26px;
}
.btn2>p{
    padding-top: 16px;
    font-size: 16px;
    padding-left: 26px;
    color:black;
}
.btn>img,.btn2>img{
    padding-top: 14px;
}
.btn2>img{
    transform:rotate(360deg);
}

.sec{
    height:450px;
    padding-bottom: 170px;
    background-image: url('whatsApp/MaaBeti.png');
    background-size:cover;
    border-radius: 20px;
    background-repeat: no-repeat;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:280px;
    margin:30px 30px 30px 30px;
}
.leftbar{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap:40px;
    padding-top: 40px;
}
.leftbar>div>h1{
    padding-top: 150px;
    color:white;
    font-weight: 200;
    font-size:60px;
    line-height: 70px;
    font-size: 70px;
}
.leftbar>div>p{
    color: white;
    line-height: 25px;
    font-weight: 200;
    padding-top: 15px;
    font-size: 18px;
}
.leftbar>button{
    display: flex;
    border-radius: 20px;
    color:black;
    background-color: white;
    align-items: center;
    justify-content: center;
    border: none;
    width:110px;
    height:30px;
    gap:10px;
    font-weight: 900;

}
.rightbar{
    display: flex;
    flex-direction: column;
    padding-top: 150px;
}
.rightbar img:nth-child(1){
    animation:gm 0.5s ease-in-out;
}

@keyframes gm{
    0%{
        transform: translate(50px);
    }
    100%{
        transform: translateY(0px);
    }
}
.rightbar img:nth-child(2){
    right: 25px;
    top: 15px;   
    animation: dil 1s ease-in-out;
}

@keyframes dil {
    0%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
.rightbar img:nth-child(3){
    margin-left: 20px;
    animation: chai 1.8s ease-in-out;
}

@keyframes chai {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }

    60%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
    
}
.rightbar img:nth-child(4){
    animation: voice 2.1s ease-in-out;
}

@keyframes voice {
    0%{
        opacity: 0;
        transform: translateY(70px);
    }

    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
    
.rightbar img:nth-child(5){
    animation: emo 3.1s ease-in-out;
}

@keyframes emo {
    0%{
        opacity: 0;
        transform: translateY(70px);
    }

    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.rightbar img:nth-child(6){
    top:470px;
    right: 17px;
    animation: emotionalEmoji 3.4s ease-in-out ;
}

@keyframes emotionalEmoji {
    0%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

.rightbar img:nth-child(7){
    padding-top: 30px;
    animation: trip 2s ease-in-out;
}

@keyframes trip {
    0%{
        opacity: 0;
        transform: translateY(70px);
    }

    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.updiv img:nth-child(1){
    animation: img 4s ease-in;
}
@keyframes img{
    0%{
        opacity: 0;
        transform: translateY(70px);
    }

    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.centerdiv>p{
    animation: tex 4s ease-in-out;
}
@keyframes tex{
    0%{
        opacity: 0;
        transform: translateY(70px);
    }

    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.downdiv img:nth-child(1){
    animation: img 4s ease-in;
}
@keyframes img{
    0%{
        opacity: 0;
        transform: translateY(70px);
    }

    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.rightbar>img{
    width:250px;
}
.secondsec{
    display: flex;
    flex-direction: column;
    background-color: #fcf5eb;
    gap:20px;
}
.updiv>img,.downdiv>img{
    height:210px;
    background-size: cover;
    padding-left: 200px;
    padding-top:50px;
}

.centerdiv>p{
    text-align: center;
    font-weight: 800;
    font-size: 20px;
}
.sec3 img:nth-child(1){
    animation:img 3s ease-in-out;
}
.lsec5 img:nth-child(1){
    animation:img 3s ease-in-out;
}
.rsec6 img:nth-child(1){
    animation:img 3s ease-in-out;
}
.lsec7 img:nth-child(1){
    animation:img 3s ease-in-out;
}
.rsec4 img:nth-child(1){
    animation:img 3s ease-in-out;
}

.text,.learnmore{
    animation: tex 3s ease-in-out;
}
.centerdiv>p{
    font-size: 30px;
    font-weight:600;
}
.section3{
    padding-top: 50px;
    background-color: #fcf5eb;
}
.sec3{
    display: flex;
    background-color: #fcf5eb;
    justify-content: center;
    gap:150px;
}
.lsec3{
    padding-top: 180px;
}
.text>h1{
    font-weight: 300;
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 20px;
}
.text>p{
    font-weight: 400;
    font-size: 20px;
}
.learnmore{
    padding-top: 30px;
    display: flex;
    gap:20px;
}
.section5{
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
    gap:80px;
}

.sec5{
    display:flex;
    justify-content: center;
    gap:120px;
}
.rsec5{
    display:flex;
    flex-direction: column;
    gap:20px;
    color:white;
    padding-top: 250px;
}
.rsec5>h1{
    font-size: 80px;
    font-weight: 600;
    color:white;
}
.freely{
    color:rgb(139, 241, 139);
}
.learnmore5{
    padding-top: 30px;
    display: flex;
    gap:20px;
    color:white;
}
.section4{
    gap:80px;
    background-color: #fcf5eb;
}
.sec4{
    display: flex;
    justify-content:center;
    gap:150px;
    padding-top: 150px;
}
.lsec4{
    padding-top: 200px;
}

.ltext>h1{
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
}
.footer{
    background-color: black;
}
.last{
    justify-content: center;
    color: white;
    display: flex;
    flex-direction: column;
}
.topfoot{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    gap:60px;
    padding-bottom: 60px;
}
.lftlogo{
    display: flex;
    flex-direction: column;
    gap:50px;
}
.lftfoot>img{
    height:40px;
}
.up1>p,.up2>p,.up3>p,.up4>p{
    font-size: 13px;
    padding-bottom: 20px;
}
.up1>ul>li,.up2>ul>li,.up3>ul>li,.up4>ul>li{
    font-size: 16px;
    padding-bottom: 8px;
}
.inhr{
    border:1px solid rgb(100, 96, 96);
    height:1px;
}
.downfoot{
    justify-content: center;
    display: flex;
    gap:80px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.downfoot>p{
    font-size: 12px;
    font-weight: 200;
}
.social>img{
    gap:90px;
}
.select>select{
    border-radius: 25px;
    border-color: white;
    background-color: black;
    height:30px;
    width:110px;
    color:white;
    padding:2px;
}
.select{
    display: flex;
    gap:20px;
}
.section6{
    gap:80px;
    background-color: #fcf5eb;
}
.sec6{
    display: flex;
    justify-content:center;
    gap:150px;
}
.lsec6{
    padding-top: 100px;
}
.rsec6>img{
    padding-top: 90px;
    height:500px;
}

.section7{
    background-color: #fcf5eb;
    padding-top: 80px;
    padding-bottom: 40px;
}

.sec7{
    display:flex;
    justify-content: center;
    gap:250px;
}
.rsec7{
    display:flex;
    flex-direction: column;
    gap:30px;
    padding-top: 100px;
}
.rsec7>h1{
    font-size: 80px;
    font-weight: 600;
}
.beach{
    position:relative;
    width:300px;
    height:200px;
}
.beach>img{
    position: absolute;

}

